html,
body {
  font-size: 10px;
}

h1 {
  font-size: 6rem;
}


h2 {
  font-size: 3.5rem;
  box-shadow: 0px 10px 26px 20px rgba(0, 0, 0, 0.93);
  padding: 2%;
}

h3 {
  font-size: 3.5rem;
  padding: 2%;
}

.bodystart {
  background-image: url("../textures/mazyron.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bodygame {
  background-image: url("../textures/gameBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bodyscore {
  background-image: url("../textures/marcadorOver.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#start {
  position: absolute;
  margin-top: 30%;
  background-color: transparent;
  color: rgba(212, 226, 15, 0.664)
}

#titulo {
  padding-right: 15%;
  display: block;
  text-align: center
}



#game {
  margin-top: 100px;
  display: none;

}

#puntuacion ul li {
  text-align: center;
  background: transparent;
}

#puntuacion.list-group-item {
  background: rgba(165, 42, 42, 0.897)
}

span {
  color: greenyellow;
  font-size: 4rem;
  font-weight: bold;
}

#points {
  font-size: 4rem;
  color: rgb(173, 255, 47);
  font-weight: bold;
}

#timer {
  font-size: 4rem;
  color: white;
  font-weight: bold;
}

#juego {
  text-align: center;

  padding: 20px
}

#canvas {
  background-image: url("../textures/jaen-madera.png");
  filter: sepia(0.6);
  box-shadow: 0px 0px 26px 20px rgba(0, 0, 0, 0.93);
}

#score {
  margin-top: 10%;
  text-align: center;
  display: none;

  background-size: contain;
  background-repeat: no-repeat;

}

#game-board {
  text-align: center;
}

#finalGame {
  text-align: center;
  color: white;
}